* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100vw;
  height: auto;
  background-color: #141414;
  overflow-x: hidden;
}

.block {
  width: 100w;
  height: 200vh;
}